/* https://tailwindcss.com/docs/using-with-preprocessors#build-time-imports */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '../components/UI';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--mui-gray-50, #eeeeee);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
